@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Inconsolata:wght@500&family=Outfit:wght@300&display=swap");
@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-1.601/static/WOFF/LeagueGothic-Regular.woff") format("woff");
}
@font-face {
  font-family: "Whitney";
  src: url("../fonts/whitney-2-cufonfonts/whitneybook.otf");
}
@keyframes bubbleUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes zigzags0 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-21px);
  }
  30% {
    transform: translateX(7px);
  }
  45% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-24px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zigzags1 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(12px);
  }
  45% {
    transform: translateX(-19px);
  }
  60% {
    transform: translateX(21px);
  }
  75% {
    transform: translateX(-21px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zigzags2 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(4px);
  }
  45% {
    transform: translateX(-24px);
  }
  60% {
    transform: translateX(14px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zigzags3 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-5px);
  }
  30% {
    transform: translateX(15px);
  }
  45% {
    transform: translateX(-23px);
  }
  60% {
    transform: translateX(18px);
  }
  75% {
    transform: translateX(-18px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zigzags4 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-7px);
  }
  30% {
    transform: translateX(6px);
  }
  45% {
    transform: translateX(-11px);
  }
  60% {
    transform: translateX(16px);
  }
  75% {
    transform: translateX(-13px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zigzags5 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-11px);
  }
  30% {
    transform: translateX(9px);
  }
  45% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(15px);
  }
  75% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zigzags6 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-4px);
  }
  30% {
    transform: translateX(22px);
  }
  45% {
    transform: translateX(-24px);
  }
  60% {
    transform: translateX(18px);
  }
  75% {
    transform: translateX(-13px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zigzags7 {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-25px);
  }
  30% {
    transform: translateX(24px);
  }
  45% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(14px);
  }
  75% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}
.middle {
  width: 100%;
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle .about {
  background-image: radial-gradient(circle at top center, #14151B, #0E0F13);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 80%;
  padding: 0 10% 0 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: -25px 0 75px -10px rgba(0, 0, 0, 0.5);
}
.middle .about__title {
  width: fit-content;
}
.middle .about__title h1 {
  text-align: center;
  line-height: 60px;
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: #BFC1C4;
}
.middle .about__title h1 strong {
  color: #5865F2;
}
.middle .about__logo img {
  transform: rotate(180deg);
  width: 100%;
}
.middle .devs {
  overflow: hidden;
  position: relative;
  height: 80vh;
  width: 75%;
  padding: 0 12.5% 0 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle .devs::after {
  content: "";
  z-index: -2;
  position: absolute;
  mask: url("../img/wave.svg");
  -webkit-mask: url("../img/wave.svg");
  top: 0;
  left: 0;
  background-color: #0E0F13;
  width: 100%;
  height: 100%;
}
.middle .devs__title {
  width: 35%;
}
.middle .devs__title h1 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: #BFC1C4;
}
.middle .devs__title h1 strong {
  color: #7B0CE9;
}
.middle .devs__avatars {
  position: relative;
  height: 100%;
  width: 25%;
}
.middle .devs__avatars__container {
  display: flex;
  height: 200%;
  align-items: center;
  flex-direction: column;
}
.middle .devs__avatars__container--reversed {
  flex-direction: column-reverse;
}
.middle .devs__avatars__container__avatars {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-areas: "a ." ". b" "c ." ". d";
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.middle .devs__avatars__container__avatars__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: relative;
  width: 100%;
  height: 100%;
}
.middle .devs__avatars__container__avatars__avatar img {
  border-radius: 50%;
  transition: all 1s ease;
}
.middle .devs__avatars__container__avatars__avatar #avatar0 {
  width: 75%;
  animation: zigzags0 15s infinite linear;
  animation-delay: -8s;
}
.middle .devs__avatars__container__avatars__avatar #avatar1 {
  width: 70%;
  animation: zigzags1 15s infinite linear;
  animation-delay: -5s;
}
.middle .devs__avatars__container__avatars__avatar #avatar2 {
  width: 97%;
  animation: zigzags2 15s infinite linear;
  animation-delay: -8s;
}
.middle .devs__avatars__container__avatars__avatar #avatar3 {
  width: 41%;
  animation: zigzags3 15s infinite linear;
  animation-delay: -4s;
}
.middle .devs__avatars__container__avatars__avatar #avatar4 {
  width: 78%;
  animation: zigzags4 15s infinite linear;
  animation-delay: -12s;
}
.middle .devs__avatars__container__avatars__avatar #avatar5 {
  width: 96%;
  animation: zigzags5 15s infinite linear;
  animation-delay: -12s;
}
.middle .devs__avatars__container__avatars__avatar #avatar6 {
  width: 76%;
  animation: zigzags6 15s infinite linear;
  animation-delay: -1s;
}
.middle .devs__avatars__container__avatars__avatar #avatar7 {
  width: 62%;
  animation: zigzags7 15s infinite linear;
  animation-delay: -10s;
}
.middle .utils {
  width: 100%;
  padding: 0 15% 0 15% 0;
  height: 60vh;
  background-color: #14151B;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
}
.middle .utils::after {
  content: "";
  z-index: 1;
  position: absolute;
  background-image: url("../img/transition.svg");
  top: -25%;
  left: 0;
  width: 100%;
  height: 100%;
}
.middle .utils__cards {
  width: 30%;
  z-index: 2;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0 -25px 75px -10px rgba(0, 0, 0, 0.5);
  background-color: #14151B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.35s ease;
}
.middle .utils__cards__content {
  width: 85%;
  height: 85%;
  position: relative;
}
.middle .utils__cards__content__title {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle .utils__cards__content__title h1 {
  margin-left: 25px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: #BFC1C4;
  text-align: center;
}
.middle .utils__cards__content__title img {
  border-radius: 50%;
  width: 12.5%;
}
.middle .utils__cards__content__text {
  margin-top: 15%;
}
.middle .utils__cards__content__text p {
  text-align: center;
  font-size: 24px;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: #BFC1C4;
}
.middle .utils__cards__content__text strong {
  color: #AE3ADA;
}
.middle .utils__cards__content__button {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle .utils__cards__content__button__inner {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  border: #27AE60 1.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 150px;
}
.middle .utils__cards__content__button__inner:hover {
  background-color: #238a4e;
  border-color: #238a4e;
}
.middle .utils__cards__content__button__inner:active {
  background-color: #166336;
  border-color: #166336;
}
.middle .utils__cards__content__button__inner a {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 24px;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: #BFC1C4;
}
.middle .utils__cards:hover {
  transform: translateY(-35px);
  box-shadow: 0 -25px 100px -10px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=home.css.map */
